<h1>Willkommen - Sterne überall</h1>

<div class="jumbotron">
  <img src="<%= asset_url('IMG_2409.jpg') %>" class="img-responsive" alt="Sonne">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>