html {
  /*background-color: #B8E7F7;*/
  /*background-color: #E1F7FC;*/
  /*background-color: #B28467;*/
  /*background-color: #EDC2A6;*/
  /*background-color: #F2DDD0;*/

  /*background-color: #EBF7FA;*/
  background: asset-data-url("bg/wild_flowers.png");
  /*background: asset-data-url("bg/dimension_@2X.png");*/
  /*background: asset-data-url("bg/flowertrail_@2X.png");*/
  /*background: asset-data-url("bg/subtle_white_mini_waves.png");*/
  /*background: asset-data-url("bg/upfeathers.png");*/
}

body {
  /*background-color: #B8E7F7;*/
  /*max-width: 960px;*/
  /*max-width: 1000px;*/
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: 'Oregano', cursive;
}

.textbox {
  padding: 20px;
  background-color: #E1F7FC;
  /*font-family: 'Open+Sans';*/
}

/*************************************************************/

/* >>>>>   START header area   */

.logo img {
  /*width: 75%;*/
}

.social {
  float: right;
  height: 100%;
  padding: 10px 0;
  text-align: right;
}

.social img:hover {
  opacity: 0.7;
}

.info h1 {
  /*font-family: 'Gloria Hallelujah', cursive;*/
  font-family: 'Oregano', cursive;
}

h2 span {
  font-family: 'Oregano', cursive;
  font-size: .8em;
  padding-left: 10px;
  padding-bottom: 30px;
}

.fb-like {
  margin-left: 30px;
  margin-top: 30px;
  width: 300px;
}

/* >>>>>   END header area   */

/*************************************************************/

/* >>>>>   START menue (wird derzeit nicht benutzt)   */

#menu hr {
  margin: 0;
}

ul li {
  display: inline-block;
  width: 50px;
}

/* >>>>>   END menue   */

/*************************************************************/

/* >>>>>   START intro area   */

.intro {
  /*margin: 0 15px;*/
  /*padding: 25px 0;*/
  min-height: 350px;
}

#my-carousel {
  /*max-width: 600px;*/
  /*width: 930px;*/
  /*height: 400px;*/
}

#intro-text {
  position: relative;
}

#intro-text > img:first-of-type {
  position: absolute;
  top: -50px;
  right: -5px;
  opacity: .9;
}

#intro-text h3 {
  font-family: 'Oregano', cursive;
  font-size: 2em;
}

#intro-text {
  color: #666666;
  font-size: 1.1em;
  min-height: 350px;
}

#note {

  max-width: 100%;
}
/* >>>>>   END intro area   */

/*************************************************************/

/* >>>>>   START products area   */

.products {
  /*background: asset-data-url("tileable_wood_texture.png");*/
  margin: 25px 0;
  /*padding: 25px 0;*/
}

.products .row {
  margin: 0;
  padding: 0;
}

/*.products .row div {
  width: 46%;
  margin: 2%;
  padding: 0;
}

.products .img-responsive {
  width: 100%;
  padding: 0;
}*/

.products h2 img:nth-child(1), .products h2 img:nth-child(2) {
  margin-top: -8px;
  height: 35px;
  display: inline;
}

.products img:nth-child(even) {
  display: none;
}

/*.image:hover {
  -webkit-animation:spin .5s linear;
  -moz-animation:spin .5s linear;
  animation:spin .5s linear;
}
@-moz-keyframes spin { 10% { -moz-transform: rotate(5deg); } }
@-webkit-keyframes spin { 10% { -webkit-transform: rotate(5deg); } }
@keyframes spin { 10% { -webkit-transform: rotate(5deg); transform:rotate(5deg); } }
*/

/* >>>>>   END products area   */

/*************************************************************/

/* >>>>>   START person area   */

.person h1 {
  text-align: center;
  font-family: 'Oregano', cursive;
  font-size: 4em;
}

#person-picture {
  padding: 0 5px;
}

#person-text {
  font-size: 1.1em;
  padding-right: 50px;
  padding-top: 10px;
}

/* >>>>>   END person area   */

/*************************************************************/

/* >>>>>   START deko area   */

#deko-bg {
  height: 550px;
  margin: 75px 0;
  padding: 25px 0;
  background: asset-data-url("bg/bricks_bg1.jpg");
  opacity: 0.7;
}

/*.deko img {
  position: relative;
  margin-top: -650px;
}*/

#deko-text h3 {
  margin-top: 0;
}

#deko-text p {
  font-size: 1.1em;
}

#deko-picture {
  padding: 0 5px;
}

/* >>>>>   END deko area   */

/*************************************************************/

/* >>>>>   START info area   */

.info-box {
  float:left;
  width: 130px;
  text-align: center;
  margin-left: 50px;
}

/* >>>>>   END info area   */

/*************************************************************/
/* >>>>>   START footer area   */

#space_bottom {
  height: 75px;
}

footer {
  padding: 20px;
}

footer a {
  margin: 5px;
}

.footer-logo {
  height: 30px;
}

/* >>>>>   END footer area   */

/*************************************************************/

/***   Media queries   ***/

@media screen and (max-width: 768px) {

  #intro-text, #person-text {
    margin: 20px;
  }

  #deko-text {
    margin: 0 20px 20px 20px;
  }

  .social, .info h1 {
    float: none;
    text-align: center;
  }

  .fb-like {
    margin-top: 10px;
  }

  #header-hr {
    display: none;
  }

  .title {
    text-align: center;
  }

/*  .info h1 {
    text-align: center;
  }*/

  /*
  .products .row div {
    width: 90%;
    margin: 10% 5% 0;
  }
  */

  .person h1 {
    font-size: 2em;
  }

  #deko-idea2 {
    display: none;
  }

  #info {
    margin: 25px 0 50px 0;
    text-align: center;
  }

  .info-box {
    margin-top: 0;
    margin-left: 30px;
  }

}
